<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Favourites</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&family=Yusei+Magic&display=swap" rel="stylesheet">

    <!-- JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>

    <div class="container">

      <!-- Porducts Section -->
      <div class="productsPrice">
        <h2>All Favourites</h2>
        <a href="/filterByPrice" ><b>Filter by Price</b></a>
        <a href="#!" ><b>/ Sort by Category</b></a>
      </div>

      <% for(let product of products) { %>
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href=<%= `/products/${product.id}`%> ><img class="card-img-top" src= "<%= product.photo_url %>" alt="3-pack Printed T-shirts" width="700" height="400" name='product_id'></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href=<%= `/products/${product.id}`%>><%= product.name %></a>
                <h5>$<%= product.price %></h5>
              </h4>
              <p class="card-text"><b><%= product.description %></b>
                <p><%= product.color %>,</p>
                <p>Pieces_3,</p>
                <p>Composition_Cotton 100%,</p>
                <p>Art. No._0713922018</p>
              </p>
            </div>
            <div class="card-footer">

              <a href="/products/:product_id" class="btn btn-primary">+ more</a>


              <form method="POST" action="<%=`/products/${product.id}`%>/delete">
                <button type="submit" class="btn btn-secondary">Delete</button>
              </form>
            </div>
          </div>
        </div>
        <% } %>







      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <%- include('partials/_footer') %>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
